- let titlesList = ["1. Персональная информация, собираемая и обрабатывается «EasySell»", "2. Цели сбора и обработки персональной информации Пользователей", "3. Условия обработки персональной информации пользователя и её передачи третьим лицам", "4. Ограничение ответственности", "5. Защита Персональной информации", "6. Заключительные положения"];

section.blog-inner-faq.faq
    .container
        .faq__accordion
            .row
                .column
                    each title in titlesList
                        .accordion
                            .accordion__toggler
                                button.button(type="button")
                                    span.button__line
                                    span.button__line
                            .accordion__content
                                .caption 
                                    h4= title
                                .description
                                    h3 Заголовок 1
                                    p Да, вы можете пригласить столько людей, сколько захотите, чтобы присоединиться к пробной версии EasySale. Просто нажмите на свой профиль в верхнем правом углу экрана и выберите «Добавить больше пользователей» из выпадающего меню.
                                    h3 Заголовок 1
                                    p Да, вы можете пригласить столько людей, сколько захотите, чтобы присоединиться к пробной версии EasySale. Просто нажмите на свой профиль в верхнем правом углу экрана и выберите «Добавить больше пользователей» из выпадающего меню.
                                    h3 Заголовок 1
                                    p Да, вы можете пригласить столько людей, сколько захотите, чтобы присоединиться к пробной версии EasySale. Просто нажмите на свой профиль в верхнем правом углу экрана и выберите «Добавить больше пользователей» из выпадающего меню.