section.blog-inner
    .blog-inner-buttons
        .container
            .row
                .column
                        a.button.button_prev(href="#")
                            .button__icon
                                svg.icon
                                    use(xlink:href="./images/svg/sprite/sprite.svg#prev-arrow")
                                | Назад в блог
    .blog-inner-caption
        .container
            .row
                .caption
                    h1 Политика конфиденциальности
    .blog-inner-description
        .container
            .row
                .description
                    p Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке новых предложений. 

