section.automation
    img.automation__bg(src="./images/svg/bg.svg" alt="Bg")
    .container
        .row
            .automation__content
                .caption
                    h2 Автоматизация продаж
                .description
                    h3 Управление сделками
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet neque ut ullamcorper nunc. Enim neque massa ipsum senectus nulla. Quisque vulputate quis cras eros, justo. Augue gravida nisl nisl et. Leo amet, tempus ultrices est.Pulvinar habitant convallis feugiat suspendisse pharetra. Consequat faucibus feugiat id vehicula malesuada. Mi pulvinar facilisis mi velit consequat maecenas.
                    h3 Автоматизация рабочего процесса
                    p Netus sit convallis lorem nunc volutpat. Sed sed porta blandit volutpat velit sit eget purus. Amet ut elit augue aliquet commodo laoreet diam ut. Ac vel malesuada egestas pellentesque ac amet. At morbi feugiat interdum morbi pellentesque nunc. Amet, sit ullamcorper feugiat nulla nibh auctor tellus. Nunc, dolor interdum ultrices egestas adipiscing mauris morbi orci tincidunt. Felis turpis netus sapien, condimentum sagittis pulvinar. Amet tincidunt non at duis ultricies.
            .automation__picture
                img.automation__bg--m(src="./images/svg/bg.svg" alt="Bg")
                .automation__picture-item
                    img.picture(src="./images/static/main-banner-bg.png" alt="Picture")
                    