.banner(data-step="0")
    .wrapper
        .banner__controls
            //- a.button.button_prev(href="#")
            //-     .button__icon
            //-         svg.icon
            //-             use(xlink:href="./images/svg/sprite/sprite.svg#prev-arrow")
            //-         | Назад
        .banner__content
            .banner__content-item.banner__content-item--active
                h1 Комплексное решение для владельцев 
                h2 малого и среднего бизнеса
                p.
                    Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке новых предложений. 
            //- .banner__content-item
            //-     h1 Комплексное решение для владельцев 2
            //-     h2 малого и среднего бизнеса 2
            //- .banner__content-item
            //-     h1 Комплексное решение для владельцев 3
            //-     h2 малого и среднего бизнеса 3 
        .banner__buttons
            a.button.button_accent(href="#") Все преимущества
            a.button.button_orange(href="./subscribe.html") Подписаться