section.clients
    .container
        .row
            .col
                .title
                    h2 Отзывы клиентов
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .client
                        .client__background
                        .client__content
                            .user
                                .user__avatar
                                    img.avatar(src="./images/static/user-pic.jpg" alt="User avatar")
                                .user__information
                                    .fullname Елена Соколова
                                    .place Интернет магазин 
                            .description
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie pharetra lectus maecenas semper pulvinar aliquet ac fermentum. Ridiculus amet.
                .swiper-slide
                    .client
                        .client__background
                        .client__content
                            .user
                                .user__avatar
                                    img.avatar(src="./images/static/user-pic.jpg" alt="User avatar")
                                .user__information
                                    .fullname Елена Соколова
                                    .place Интернет магазин 
                            .description
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie pharetra lectus maecenas semper pulvinar aliquet ac fermentum. Ridiculus amet.
                .swiper-slide
                    .client
                        .client__background
                        .client__content
                            .user
                                .user__avatar
                                    img.avatar(src="./images/static/user-pic.jpg" alt="User avatar")
                                .user__information
                                    .fullname Елена Соколова
                                    .place Интернет магазин 
                            .description
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie pharetra lectus maecenas semper pulvinar aliquet ac fermentum. Ridiculus amet.
                .swiper-slide
                    .client
                        .client__background
                        .client__content
                            .user
                                .user__avatar
                                    img.avatar(src="./images/static/user-pic.jpg" alt="User avatar")
                                .user__information
                                    .fullname Елена Соколова
                                    .place Интернет магазин 
                            .description
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie pharetra lectus maecenas semper pulvinar aliquet ac fermentum. Ridiculus amet.
                .swiper-slide
                    .client
                        .client__background
                        .client__content
                            .user
                                .user__avatar
                                    img.avatar(src="./images/static/user-pic.jpg" alt="User avatar")
                                .user__information
                                    .fullname Елена Соколова
                                    .place Интернет магазин 
                            .description
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie pharetra lectus maecenas semper pulvinar aliquet ac fermentum. Ridiculus amet.
        .swiper__slider-range
            input.range(type="range" step="1" min="1" value="1")  

        //- .clients__slider
        //-     div
        //-         .client
        //-             .client__background
        //-             .client__content
        //-                 .user
        //-                     .user__avatar
        //-                         img.avatar(src="./images/static/user-pic.jpg" alt="User avatar")
        //-                     .user__information
        //-                         .fullname Елена Соколова
        //-                         .place Интернет магазин 
        //-                 .description
        //-                     p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie pharetra lectus maecenas semper pulvinar aliquet ac fermentum. Ridiculus amet.
        //-     div
        //-         .client
        //-             .client__background
        //-             .client__content
        //-                 .user
        //-                     .user__avatar
        //-                         img.avatar(src="./images/static/user-pic.jpg" alt="User avatar")
        //-                     .user__information
        //-                         .fullname Елена Соколова
        //-                         .place Интернет магазин 
        //-                 .description
        //-                     p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie pharetra lectus maecenas semper pulvinar aliquet ac fermentum. Ridiculus amet.
        //-     div
        //-         .client
        //-             .client__background
        //-             .client__content
        //-                 .user
        //-                     .user__avatar
        //-                         img.avatar(src="./images/static/user-pic.jpg" alt="User avatar")
        //-                     .user__information
        //-                         .fullname Елена Соколова
        //-                         .place Интернет магазин 
        //-                 .description
        //-                     p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie pharetra lectus maecenas semper pulvinar aliquet ac fermentum. Ridiculus amet.
        //-     div
        //-         .client
        //-             .client__background
        //-             .client__content
        //-                 .user
        //-                     .user__avatar
        //-                         img.avatar(src="./images/static/user-pic.jpg" alt="User avatar")
        //-                     .user__information
        //-                         .fullname Елена Соколова
        //-                         .place Интернет магазин 
        //-                 .description
        //-                     p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie pharetra lectus maecenas semper pulvinar aliquet ac fermentum. Ridiculus amet.
        //-     div
        //-         .client
        //-             .client__background
        //-             .client__content
        //-                 .user
        //-                     .user__avatar
        //-                         img.avatar(src="./images/static/user-pic.jpg" alt="User avatar")
        //-                     .user__information
        //-                         .fullname Елена Соколова
        //-                         .place Интернет магазин 
        //-                 .description
        //-                     p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie pharetra lectus maecenas semper pulvinar aliquet ac fermentum. Ridiculus amet.
        //-     div
        //-         .client
        //-             .client__background
        //-             .client__content
        //-                 .user
        //-                     .user__avatar
        //-                         img.avatar(src="./images/static/user-pic.jpg" alt="User avatar")
        //-                     .user__information
        //-                         .fullname Елена Соколова
        //-                         .place Интернет магазин 
        //-                 .description
        //-                     p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie pharetra lectus maecenas semper pulvinar aliquet ac fermentum. Ridiculus amet.
        //-     div
        //-         .client
        //-             .client__background
        //-             .client__content
        //-                 .user
        //-                     .user__avatar
        //-                         img.avatar(src="./images/static/user-pic.jpg" alt="User avatar")
        //-                     .user__information
        //-                         .fullname Елена Соколова
        //-                         .place Интернет магазин 
        //-                 .description
        //-                     p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie pharetra lectus maecenas semper pulvinar aliquet ac fermentum. Ridiculus amet.
        //- .clients__slider-range
        //-     input.range(type="range" step="1" min="1" value="1")    