section.feedback
    .wrapper
        .wrapper-row
            .feedback__content
                .text
                    .title
                        h2 Оптимизируйте процесс продаж - попробуйте бесплатно!
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie pharetra lectus maecenas semper pulvinar aliquet ac fermentum. Ridiculus amet.
            .feedback__form
                form.form(action="" method="POST")
                    .form-row
                        input(type="text" name="name" placeholder="Ваше имя")
                    .form-row
                        input(type="email" name="email" placeholder="Ваш Email")
                    .form-row
                        input(type="tel" name="tel" placeholder="+1234567890")
                    .form-buttons
                        button.button.button_orange(type="submit") Начать бесплатно