.overlay-integrations
.overlay

header.header(role="banner")
    .container
        .header__logo
            a(href="index.html").logo
                img(src="./images/logo.svg" alt="logo").pic
        .header__buttons
            .buttons
                //-a(href="#" class="button button_simple login" role="link") Вход
                //-a(href="#" class="button button_accent registration" role="link") Регистрация
                a(href="./subscribe.html" class="button button_accent" role="link") Подписаться
        .header__hamburger
            .hamburger
                span.hamburger__line
                span.hamburger__line
                span.hamburger__line
                span.hamburger__line
    include menu
        
