section.integration
    .wrapper
        .wrapper-row
            .integration__technologies
                .technologies-row
                    .technologies-row__item
                        img.picture(src="./images/static/integrations/int1.png" alt="Tecnologie icon")
                    .technologies-row__item
                        img.picture(src="./images/static/integrations/int2.png" alt="Tecnologie icon")
                    .technologies-row__item
                        img.picture(src="./images/static/integrations/int3.png" alt="Tecnologie icon")
                    .technologies-row__item
                        img.picture(src="./images/static/integrations/int4.png" alt="Tecnologie icon")
                .technologies-row
                    .technologies-row__item
                        img.picture(src="./images/static/integrations/int5.png" alt="Tecnologie icon")
                    .technologies-row__item
                        img.picture(src="./images/static/integrations/int6.png" alt="Tecnologie icon")
                    .technologies-row__item
                        img.picture(src="./images/static/integrations/int7.png" alt="Tecnologie icon")
                .technologies-buttons
                    a.button.button_orange(href="#") Подробнее        
            .integration__content
                .text
                    .title
                        h2 Интеграции
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie pharetra lectus maecenas semper pulvinar aliquet ac fermentum. Ridiculus amet.
                .buttons
                    a.button.button_orange(href="#") Подробнее