- let navlist = ["О системе EasySell", "Преимущества", "Функционал", "Руководство по продукту", "Тарифы", "Интеграции", "Блог", "Вопросы и ответы", "О нас"];

.menu
    .menu__buttons
        //-a(href="#" class="button button_simple login" role="link") Вход
        //-a(href="#" class="button button_accent registration" role="link") Регистрации
        a(href="#" class="button button_accent" role="link") Подписаться
    .menu__langs
        a(href="#" class="button button--active" role="link") Рус
        a(href="#" class="button" role="link") Укр
        a(href="#" class="button" role="link") Eng
    .menu__wrapper
        nav.nav
            ul.navlist
                li.navlist__item
                    a(href="#").navlist__link О системе EasySell
                li.navlist__item
                    a(href="/features.html").navlist__link Преимущества
                li.navlist__item
                    a(href="/functions-module.html").navlist__link Функционал
                li.navlist__item
                    a(href="/wiki.html").navlist__link Руководство по продукту
                li.navlist__item
                    a(href="/pricing.html").navlist__link Тарифы
                li.navlist__item
                    a(href="/integrations.html").navlist__link Интеграции
                li.navlist__item
                    a(href="/blog.html").navlist__link Блог
                li.navlist__item
                    a(href="#").navlist__link Вопросы и ответы
                li.navlist__item
                    a(href="#").navlist__link О нас
    .menu__background
        