section.sales
    .wrapper
        .wrapper-row
            .sales__content
                .text
                    .title
                        h2 Начните продавать удобнее, лучше и быстрее уже сейчас
                    p 90-дневная бесплатная пробная версия. Кредитная карта не требуется.
                .buttons
                    a.button.button_inverse(href="#") Тарифные планы
                    a.button.button_orange(href="#") Начать бесплатно
            .sales__picture
                .picture
                    img.pic(src="./images/static/main-banner-bg.png" alt="Sales picture")