extends common/layout-custom
block content
    .nf
      .nf__header
        a(href='').nf__logo
          img(src='./images/404/logo_main.svg' alt='logo').pic
        .nf__back
          a(href='') Вернуться на сайт
      .nf__inner
        .nf__win
          .nf__title
            p 44
            img(src='./images/404/logo.svg' alt='logo-short')
          .nf__sub Похоже мы не можем найти нужную вам страницу :(
          .nf__desc Попробуйте начать с главной страницы или вернуться на предыдущую.
          a.nf__btn(href='') На главную
      .nf__rec
      .nf__rec2