extends common/layout
block content
    include ./includes/functions-section/main
    include ./includes/functions-section/module-section
    include ./common/automation
    include ./common/integration
    include ./common/feedback