extends common/layout
block content
    include ./includes/functions-module/main
    include ./common/functional
    include ./common/automation
    include ./common/integration
    include ./common/feedback