extends common/layout
block content
    include ./includes/index/home
    include ./common/functional
    include ./includes/index/tariffs
    include ./common/integration
    include ./common/clients
    include ./common/feedback
    