extends common/layout
block content
    include ./includes/pricing/main
    include ./includes/pricing/plans
    include ./includes/pricing/compare
    include ./common/sales
    include ./includes/pricing/faq
    include ./common/clients
    include ./common/feedback