section.features
    .container
        .row
            .column
                .banner(data-step="0")
                    .banner__arrow
                        img.arrow(src="./images/large-arrow.svg" alt="Large arrow")
                    .wrapper
                        .banner__controls
                            a.button.button_prev(href="#")
                                .button__icon
                                    svg.icon
                                        use(xlink:href="./images/svg/sprite/sprite.svg#prev-arrow")
                                    | Назад
                        .banner__content
                            .banner__content-item.banner__content-item--active
                                h1 Почему стоит пользоваться системой EasySell?
                                p.
                                    Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке новых предложений. 
                        .banner__info
                            .pictures
                                .pictures__item
                                    img.picture(src="./images/static/main-banner-bg.png" alt="Feature picture")
                                .pictures__item
                                    img.picture(src="./images/static/main-banner-bg.png" alt="Feature picture")
                        .banner__buttons
                            a.button.button_orange(href="#") Начать бесплатно
            .column
                .features__pictures
                    .features__pictures-item
                        img.picture(src="./images/static/main-banner-bg.png" alt="Picture")
                    .features__pictures-item
                        img.picture(src="./images/static/main-banner-bg.png" alt="Picture")

