include ../../mixins/benefit

section.module-section
    .module-section__caption
        .container
            .row
                .column
                    .caption
                        h2 Автоматизация продаж
    .module-section__content
        .container
            .row
                .column
                    .pictures
                        .pictures__item
                            img.pic(src="./images/static/main-banner-bg.png" alt="")
                        .pictures__item
                            img.pic(src="./images/static/main-banner-bg.png" alt="")
                .column
                    .benefits-grid
                        +benefit('Ведущий менеджмент', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis orci, eget dui. In viverra ut facilisi adipiscing et, urna et, maecenas lorem.', 'benefit-icon-1')
                        +benefit('Управление сделками', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis orci, eget dui. In viverra ut facilisi adipiscing et, urna et, maecenas lorem.', 'benefit-icon-2')
                        +benefit('Управление контактами', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis orci, eget dui. In viverra ut facilisi adipiscing et, urna et, maecenas lorem.', 'benefit-icon-3')
                    .description
                        h3 Добавление информации
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa adipiscing lectus id. Viverra neque, lorem mi scelerisque nunc phasellus. Arcu venenatis blandit rutrum libero condimentum dolor, faucibus eleifend. Praesent suspendisse arcu ipsum purus non consectetur faucibus a.
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa adipiscing lectus id. Viverra neque, lorem mi scelerisque nunc phasellus. Arcu venenatis blandit rutrum libero condimentum dolor, faucibus eleifend. Praesent suspendisse arcu ipsum purus non consectetur faucibus a.
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa adipiscing lectus id. Viverra neque, lorem mi scelerisque nunc phasellus. Arcu venenatis blandit rutrum libero condimentum dolor, faucibus eleifend. Praesent suspendisse arcu ipsum purus non consectetur faucibus a.