section.integrations
    .container
        .row
            .column
                .banner(data-step="0")
                    .banner__arrow
                        img.arrow(src="./images/large-arrow.svg" alt="Large arrow")
                    .wrapper
                        .banner__controls
                            a.button.button_prev(href="#")
                                .button__icon
                                    svg.icon
                                        use(xlink:href="./images/svg/sprite/sprite.svg#prev-arrow")
                                    | Назад
                        .banner__content
                            .banner__content-item.banner__content-item--active
                                h1 Интеграции
                                p.
                                    Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке новых предложений. 
                        .banner__info
                            .pictures
                                .pictures__item
                                    img.picture(src="./images/static/main-banner-bg.png" alt="Feature picture")
                                .pictures__item
                                    img.picture(src="./images/static/main-banner-bg.png" alt="Feature picture")
                        .banner__buttons
                            a.button.button_orange(href="#") Начать бесплатно
            .column(style="background-image: url(./images/particles-dark-bg.svg)") 
                .integrations-wrapper
                    .integrations-wrapper__technologies
                        .technologies-row
                            .technologies-row__item
                                img.picture(src="./images/static/integrations/int1.png" alt="Tecnologie icon")
                            .technologies-row__item
                                img.picture(src="./images/static/integrations/int2.png" alt="Tecnologie icon")
                            .technologies-row__item
                                img.picture(src="./images/static/integrations/int3.png" alt="Tecnologie icon")
                            .technologies-row__item
                                img.picture(src="./images/static/integrations/int4.png" alt="Tecnologie icon")
                        .technologies-row
                            .technologies-row__item
                                img.picture(src="./images/static/integrations/int5.png" alt="Tecnologie icon")
                            .technologies-row__item
                                img.picture(src="./images/static/integrations/int6.png" alt="Tecnologie icon")
                            .technologies-row__item
                                img.picture(src="./images/static/integrations/int7.png" alt="Tecnologie icon")       


